*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100%;
    padding: 0;
    margin: 0;
}
.motherContainer{
    max-width: 600px;
    width: 100%;
    padding: 25px;
    padding-top: 15px;
}
.containerTitle{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}
.container{
    padding: 0 15px;
    margin-bottom: 15px;
    border: 2px solid rgb(66, 66, 66);
    border-radius: 10px;
}
.device{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid black;
}
.device:last-child{
    border: none;
}
.device .sendButton {
    align-self: center;
}
.containerinnerTitle{
    margin: 5px 0;
}
.noBorderLine{
    border: none;
}
.bold{
    font-weight: bold;
}

.requestPromptBG{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.requestPromptBG .requestBody{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 400px;
    margin: 10px;
}

.requestPromptBG .requestBody .filesInformation{
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 150px;
}

.requestPromptBG .requestBody .answerPart{
    display: flex;
    justify-content: flex-end;
}

.requestPromptBG .requestBody .answerPart > div{
    display: flex;
    justify-content: space-between;
    margin: 15px 7.5px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.requestPromptBG .requestBody .answerPart > div:last-child{
    margin-right: 0;
}

.requestPromptBG .requestBody .answerPart > div:hover{
    background-color: black;
    color: white;
    border: 2px solid black;
}

.loadingContainer{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.loadingBarParent{
    position: relative;
}

.loadingBarBorders{
    position: relative;
    z-index: 10;
    border: 2.5px solid black;
    border-radius: 10px;
    height: 10px;
    margin-top: 5px;
}

.loadingBar{
    position: absolute;
    z-index: 1;
    background-color: red;
    border-radius: 10px;
    height: 10px;
    width: 50%;
    top: 0px;
}